/Proyecto1/nbproject/private/
/Proyecto1/build/
/Proyecto1/entrada*.olc
/Proyecto1/archivoEntrada.olc
/Proyecto1/src/analizadores/AnalizadorSintactico2.cup
/Proyecto1/src/analizadores/lexico.jflex
/Proyecto1V2/nbproject/private/
